<div class="text-center mt-5">

  <h2>＊　投稿一覧　＊</h2>
  <div class="container">
    
    <div class="sort-options">
      <%= link_to "新着順", posts_path(sort: 'new') %> |
      <%= link_to "いいね多い順", posts_path(sort: 'likes') %>
    </div>

    <% if flash[:ok] %>
      <div class="alert alert-success">
        <%= flash[:ok] %>
      </div>
    <% elsif flash[:login] %>
      <div class="alert alert-success">
        <%= flash[:login] %>
      </div>
    <% elsif flash[:post_destroy] %>
      <div class="alert alert-danger">
        <%= flash[:post_destroy] %>
      </div>
    <% end %>

    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4 mb-4">
          <%= link_to post_path(post) do %>
            <div class="card card-fixed-size shadow-sm">
              <% if post.images.attached? %>
                <%= image_tag url_for(post.images.first), style: "width: 250px; height: 200px; object-fit: cover;", class: 'card-img-top' %>
              <% else %>
                <%= image_tag 'no_image.png', style: "object-fit: cover;", class: 'card-img-top' %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <div id="like_buttons_<%= post.id %>">
                  <%= render "public/likes/likes", post: post %>
                </div>
                <div>
                  <%= post.comments.count %> コメント
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="pagination justify-content-center text-center">
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>

  </div>
</div>

