<div class="container mt-5">
  <h3>＊　投稿詳細画面　＊</h3>
  <div class = "row" >
    <div class = "col-xs-6">
      <p class = "col-xs-2">
        <%= image_tag @post.user.get_profile_image(80, 80), style: "object-fit: cover;" %>
        <%= link_to user_path(@post.user_id) do %>
          <%= @post.user.name %>
        <% end %>
      </p>
    </div>
  </div>


    <div class="row mt-3">
      <div class="col-xs-6">
        <%= image_tag @post.get_image(450, 400) %>

        <% if @post.like_by?(current_user) %>
        <p>
          <%= link_to post_like_path(@post), method: :delete do %>
            ♥<%= @post.likes.count %>
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to post_like_path(@post), method: :post do %>
            ♡<%= @post.likes.count %>
          <% end %>
        </p>
        <% end %>

        <p class = "col-xs-2">投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        <p class = "col-xs-4">
          <% if @post.user_id == current_user.id %>
            <%= link_to "編集", edit_post_path(@post.id), class:'btn btn-sm btn-success' %>
          <% end %>
        </p>
      </div>

      <div class="col-1"></div>
      <div class="col-md-4">
        <h4><%= @post.title %></h4>
        <h5><%= @post.body %></h5>

    </div>
  </div>
</div>
