<div class="container">
  <div class="row">
    <div class="mx-auto offset-lg-2 mt-5">

      <div class="text-center">
        <h4><strong>管理者ログイン</strong></h4>
      </div>

      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <table class="table mt-5">
          <tbody>
            <tr>
              <td class="field">
                <th><%= f.label :"メールアドレス" %><br /></th>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <td class="field">
                <th><%= f.label :"パスワード" %><br /></th>
                <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </td>
            </tr>
            <tr>
              <% if devise_mapping.rememberable? %>
              <td class="field">
                <td><%= f.check_box :remember_me %></td>
                  <td><%= f.label :remember_me %></td>
              </td>
              <% end %>
            </tr>
            <tr>
              <td class="actions">
                <td></td>
                <td><%= f.submit "ログイン", class: "btn btn-dark" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
           <!--%= render "admin/shared/links" %>-->
    </div>
  </div>
</div>
