<div class="container text-center mt-5">

  <% if flash[:notice] %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class = "row justify-content-center" >
    <div class = "col-12" >
      <div class = "text-center mb-5" >
        <h2 class = "display-3" >＊　inuming　＊</h2>
      </div>

      <div class = "text-center mb-5" >
        <h3>犬限定のトリミングスタイル投稿サイト</h3>
      </div>
    </div>

    <div class = "col-auto text-center">
      <%= link_to new_user_registration_path do %>
        <%#= image_tag "1.png", size: '250x250' %>
        <%= image_tag asset_path("1.png") %>
      <% end %>
    </div>

    <div class = "col-auto text-center">
      <%= link_to user_session_path do %>
        <%= image_tag "2.png", size: '250x250' %>
      <% end %>
    </div>

    <div class = "col-auto text-center">
      <%= link_to users_guest_sign_in_path, method: :post do %>
        <%= image_tag "3.png", size: '250x250' %>
      <% end %>
    </div>
  </div>
</div>
