<div class="container mt-5">
  <div class="row">
    <div class="mx-auto offset-lg-2">

      <div class="text-center">
        <h2>会員一覧</h2>
      </div>


    <table class="table mt-5">
      <thead>
        <tr>
          <th></th>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td></td>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted == true %>
                <strong class="text-secondary">退会済み</strong>
              <% else %>
                <strong class="text-success">有効</strong>
              <% end %>
            </td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div class="pagination justify-content-center text-center">
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</div>
