<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="headline mt-5 ml-5"><i class="fa-solid fa-thumbs-up fa-bounce"></i>　いいねした投稿</h4>
        <div class="row mt-3">
        <% @liked_posts.each do |post| %>
          <div class="col-md-4 mb-4">
            <div class="card h-100 card-fixed-size">
              <%= image_tag url_for(post.images.first), style: "width: 350px; height: 300px; object-fit: cover;" %>
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text" style="font-size: 0.8em;"><%= post.body %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted" style="font-saize: 0.8em;"><%= post.user.name %></small>
                  <%= link_to post_path(post), class: "btn btn-sm btn-light" do %>
                    <i class="fa-solid fa-check"></i>　view
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      </div>
    </div>
    <div class="pagination justify-content-center text-center">
       <%= paginate @liked_posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>

