<h3 class = "text-center">
  <%= image_tag "MYPAGE.png", style: 'width:400px; height:300px;' %>
</h3>
<div class="container text-center mt-5">

  <% if flash.now[:user_update] %>
    <div class="alert alert-success">
      <%= flash.now[:user_update] %>
    </div>
  <% elsif flash[:signup] %>
    <div class="alert alert-success">
      <%= flash[:signup] %>
    </div>
  <% elsif flash[:login] %>
    <div class="alert alert-success">
      <%= flash[:login] %>
    </div>
  <% elsif flash[:guest] %>
    <div class="alert alert-success">
      <%= flash[:guest] %>
    </div>
  <% elsif flash[:guestout] %>
    <div class="alert alert-danger">
      <%= flash[:guestout] %>
    </div>
  <% end %>

  <div class = "row">
    <div class="col-md-5">
      <p><%= image_tag @user.get_profile_image(250, 200), style: "width: 250px; height: 200px; object-fit: cover;", class: "rounded-circle shadow-sm" %></p>
      <p>
        <% if current_user != @user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-sm btn-dark" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-sm btn-light" %>
          <% end %>
        <% end %>
      </p>
      <table class = "table">
        <tbody>

          <tr>
            <th>ユーザー</th>
            <td><small><%= @user.name %></small></td>
          </tr>

          <tr>
            <th>自己紹介</th>
            <td><small><%= @user.introduction %></small></td>
          </tr>

          <tr>
            <th>フォロー</th>
            <td><%= link_to @user.followings.count, user_followings_path(@user), class: "btn btn-outline-primary btn-sm" %></td>
          </tr>

          <tr>
            <th>フォロワー</th>
            <td><%= link_to @user.followers.count, user_followers_path(@user), class: "btn btn-outline-primary btn-sm"  %></td>
          </tr>

          <tr>
            <td>
                <% if @user.id == current_user.id && !current_user.guest? %>
                  <%= link_to "編集", edit_user_path(current_user.id), class: 'btn btn-sm btn-success' %>
                <% end %>
            </td>
            <td>
              <%= link_to liked_posts_user_path(@user), class: 'btn  btn-light' do %>
                <i class="fa-solid fa-heart" style="color: #f91515;"></i>　いいね一覧
              <% end %>
            </td>
          </tr>

          <tr>            <!--DM機能用-->
            <% unless @user.id == current_user.id %>
              <% if (current_user.following? @user) && (@user.following? current_user) %>
              <% if @is_room == true %>
                <p class="user-show-room"><a href="/rooms/<%= @room_id %>" class="btn btn-light btn-sm" ><i class="fa-regular fa-envelope"></i> DMを送る</a></p>
              <% else %>
                <%= form_with model: @room, url: rooms_path, method: :post do |f| %>
                  <%= fields_for :entry, @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= f.submit "DMをはじめる", class:"btn btn-light btn-sm" %>
                <% end %>
              <% end %>
              <% end %>
            <% end %>
          </tr>

          </div>
      　</tbody>
    　</table>
    </div>

    <div class="col-md-7 mt-5">
      <div class="row">
        <% @posts.each do |post| %>
            <div class="col-md-4 mb-4">
              <%= link_to post_path(post) do %>
                <div class="card h-100 card-fixed-size">
                <%= image_tag url_for(post.images.first), style: "width: 150px; height: 200px; object-fit: cover;", class: 'card-img-top' %>
                  <div class="card-body">
                    <div id="like_buttons_<%= post.id %>">
                      <%= render "public/likes/likes", post: post %>
                    </div>
                    <div><%= post.comments.count %> コメント</div>
                    <small class="card-title"><%= post.title %></small>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
    </div>
  </div>
</div>

