<!DOCTYPE html>
<html>
  <head>
    <title>Inuming</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <script src="https://kit.fontawesome.com/01e2407594.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="contaoner-fluid">
       <div class="row align-items-center border-bottom">
        <!--<div class = "col-2" ></div>-->
          <!--%= link_to root_path do %>-->
            <!--%= image_tag 'inuming.png', size: '180x125' %>-->
          <!--% end %>-->
        <!--</div>-->

        <!--% if admin_signed_in? %>-->
        <!--<div class = "col-1" ></div>-->
        <!--<div class = "mt-1 mr-0 mb-1 ml-0" >-->
         <!--%= link_to admin_path do %>-->
          <!--%= image_tag 'admin.png', size: '180x125' %>-->
         <!--% end %>-->
        <!--</div>-->


        <!--<div class = "col-2" ></div>-->
        <!--<div class = "mt-4 mr-0 mb-4 ml-0 row" >-->
          <!--%= link_to "TOP", admin_items_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4 " %>-->

          <!--%= link_to "会員一覧", admin_customers_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4" %>-->

          <!--%= link_to "投稿一覧", admin_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4" %>-->

          <!--%= link_to "コメント一覧", admin_genres_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4 " %>-->

          <!--%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light mt-auto mr-2 mb-auto ml-4 " %>-->

          <% if user_signed_in? %>

          <div class = "col-2" >
              <%= link_to root_path do %>
                <%= image_tag 'inuming.png', size: '180x125' %>
              <% end %>
          </div>
            <div class="col-10">

              <div class="d-flex justify-content-end flex-wrap">
                <!--<div class="mr-2"></div>-->
                  <%= render "public/homes/search", user: @user %>
                <div class= "mr-2"></div>
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-light" do %>
                  <i class="fa-solid fa-right-from-bracket" style="color: #af7546;"></i> ログアウト
                <% end %>

                <div class= "mr-2"></div>
                <%= link_to new_post_path, class: "btn btn-sm btn-light" do %>
                    <i class="fa-solid fa-paw" style="color: #af7546;"></i> 新規投稿
                <% end %>


                <div class="mr-2"></div>
                  <%= link_to posts_path, class: "btn btn-sm btn-light" do %>
                    <i class="fa-solid fa-dog" style="color: #c68a62;"></i> 投稿一覧
                  <% end %>

                <div class="mr-2"></div>
                  <%= link_to user_path(current_user), class: "btn btn-sm btn-light" do %>
                    <i class="fa-solid fa-bone" style="color: #af7546;"></i> マイページ
                  <% end %>

              <!--<div class="col-10">-->
                <!--%= render "public/homes/search", user: @user %>-->
              <!--</div>-->

            </div>

          <% else %>
            <div class = "col-2" >
              <%= link_to root_path do %>
                <%= image_tag 'inuming.png', size: '180x125' %>
              <% end %>
            </div>
            <div class="col-10 d-flex justify-content-end">
                <%= link_to about_path, class: "btn btn-light" do %>
                  <i class="fa-solid fa-scissors" style="color: #af7546;"></i>　About
                <% end %>

              <div class="mr-2"></div>
                <%= link_to new_user_registration_path, class: "btn btn-light" do %>
                  <i class="fa-solid fa-circle-plus" style="color: #af7546;"></i>　新規登録
                <% end %>

              <div class="mr-2"></div>
                <%= link_to user_session_path, class: "btn btn-light" do %>
                  <i class="fa-solid fa-right-to-bracket" style="color: #af7546;"></i>　ログイン
                <% end %>

                  <!--%= link_to "ゲストログイン", new_customer_session_path, class: "btn btn-light" %>-->
              <div class = "col-1" ></div>
                </div>
          <% end %>
          </div>
        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container-fluid mt-5">
        <div class="row align-items-center border-top">
          <div class="col-12 d-flex">
            <i class="fa-solid fa-scissors fa-2xl"></i>
          </div>
        </div>
            <div class="col-12 d-flex justify-content-end">
              <%= image_tag 'home.png', size: '170x140' %>
            </div>
      </div>
    </footer>
  </body>
</html>

