<!DOCTYPE html>
<html>
  <head>
    <title>Inuming</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="contaoner-fluid">
        <div class="row align-items-center border-bottom">
        <!--<div class = "col-2" ></div>-->
          <!--%= link_to root_path do %>-->
            <!--%= image_tag 'inuming.png', size: '180x125' %>-->
          <!--% end %>-->
        <!--</div>-->

        <!--% if admin_signed_in? %>-->
        <!--<div class = "col-1" ></div>-->
        <!--<div class = "mt-1 mr-0 mb-1 ml-0" >-->
         <!--%= link_to admin_path do %>-->
          <!--%= image_tag 'inuming.png', size: '180x125' %>-->
         <!--% end %>-->
        <!--</div>-->


        <!--<div class = "col-2" ></div>-->
        <!--<div class = "mt-4 mr-0 mb-4 ml-0 row" >-->
          <!--%= link_to "TOP", admin_items_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4 " %>-->

          <!--%= link_to "会員一覧", admin_customers_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4" %>-->

          <!--%= link_to "投稿一覧", admin_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4" %>-->

          <!--%= link_to "コメント一覧", admin_genres_path, class: "btn btn-light mt-auto mr-2 mb-auto ml-4 " %>-->

          <!--%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light mt-auto mr-2 mb-auto ml-4 " %>-->

          <% if user_signed_in? %>

          <div class = "col-2" >
              <%= link_to root_path do %>
                <%= image_tag 'inuming.png', size: '180x125' %>
              <% end %>
          </div>

             <div class="col-10 d-flex justify-content-end">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
              <div class = "col-1"></div>
              <%= link_to "新規投稿", new_post_path, class: "btn btn-light" %>
              <div class = "col-1"></div>
              <%= link_to "投稿一覧", posts_path, class: "btn btn-light" %>
              <div class = "col-1"></div>
              <%= link_to "マイページ", user_path(current_user), class: "btn btn-light" %>
              <div class = "col-1"></div>
            </div>

          <% else %>
            <div class = "col-2" >
              <%= link_to root_path do %>
                <%= image_tag 'inuming.png', size: '180x125' %>
              <% end %>
            </div>
                <div class="col-10 d-flex justify-content-end">
                  <%= link_to "About", about_path, class: "btn btn-light" %>
                  <div class = "col-1" ></div>
                  <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-light" %>
                  <div class = "col-1" ></div>
                  <%= link_to "ログイン", user_session_path, class: "btn btn-light" %>
                  <div class = "col-1" ></div>
                  <!--%= link_to "ゲストログイン", new_customer_session_path, class: "btn btn-light" %>-->
                </div>
          <% end %>
          </div>
        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>

