<!DOCTYPE html>
<html>
  <head>
    <title>Inuming</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class = "border-bottom row">
        <div class = "col-1" ></div>
        <div class = "mt-1 mr-0 mb-1 ml-2" >
          <%= link_to root_path do %>
            <%= image_tag 'inuming.png', size: '180x125' %>
          <% end %>
        </div>
        <div class = "mt-5 mb-5 ml-5 row align-item-center">
            <%= link_to "about", about_path, class: "btn btn-light" %>
          <div class = "mr-3"></div>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
          <div class = "mr-3"></div>
              <%= link_to "新規投稿", new_post_path, class: "btn btn-light" %>
          <div class = "mr-3"></div>
              <%= link_to "投稿一覧", posts_path, class: "btn btn-light" %>
          <!--<div class = "mr-3"></div>-->
              <!--%= link_to "マイページ", user_path(current_user), class: "btn btn-light" %>-->

      </div>

      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>

